<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Personal Web</title>
</head>
<body>
    <!-- Header -->
<section class="container" id="header">
    <div class="bg-black">
        <div class="flex items-center justify-center flex-col h-screen">
            <h1 class="text-white font-bold text-5xl md:text-6xl hover:text-blue-900 transisition duration-300 ease-out">Hi! I'm Ananda Adi</h1>
            <h2 class="text-white text-xl font-bold mt-4 hover:text-red-900 transisition duration-300 ease-out">Computer Science - IKI Class 2022</h2>
            <div class="flex items-center justify-center gap-8 mt-8">
                <a href="#about" class="text-slate-900 hover:text-white hover:bg-indigo-600 transisition duration-300 ease-out flex items-center justify-center w-40 h-12 bg-white rounded-md font-bold">About</a>
                <a href="#skills" class="text-slate-900 hover:text-white hover:bg-red-800 transisition duration-300 ease-out flex items-center justify-center w-40 h-12 bg-white rounded-md font-bold">What I Do</a>
                <a href="#portofolio" class="text-slate-900 hover:text-white hover:bg-blue-900 transisition duration-300 ease-out flex items-center justify-center w-40 h-12 bg-white rounded-md font-bold">Portofolio</a>
                <a href="#Organizational" class="text-slate-900 hover:text-white hover:bg-blue-600 transisition duration-300 ease-out flex items-center justify-center w-40 h-12 bg-white rounded-md font-bold">Organizational</a>
                <a href="#app" class="text-slate-900 hover:text-white hover:bg-red-800 transisition duration-300 ease-out flex items-center justify-center w-40 h-12 bg-white rounded-md font-bold">Vue</a>
                
            </div>
            <h4 class="text-white text-xl font-bold mt-6 hover:text-pink-500 transisition duration-300 ease-out">My contact here</h4>
            <div class="flex items-center justify-center gap-8 mt-8">
                <a href="https://www.instagram.com/alzzananda?utm_source=qr&r=nametag" class="text-slate-900 hover:text-white hover:bg-indigo-600 transisition duration-300 ease-out flex items-center justify-center w-12 h-12 bg-white rounded-full">
                    <i class='bx bxl-instagram text-3xl'></i>
                </a>
                <a href="https://youtube.com/@MENG13?si=tiXzqdprhuvxhTco" class="text-slate-900 hover:text-white hover:bg-red-800 transisition duration-300 ease-out flex items-center justify-center w-12 h-12 bg-white rounded-full">
                    <i class='bx bxl-youtube text-3xl'></i>
                </a>
                </a>
                <a href="https://t.me/Raven_zaera" class="text-slate-900 hover:text-white hover:bg-blue-600 transisition duration-300 ease-out flex items-center justify-center w-12 h-12 bg-white rounded-full">
                    <i class='bx bxl-telegram text-3xl'></i>
                </a>
                <a href="https://www.linkedin.com/in/ananda-adi-85629b26a/" class="text-slate-900 hover:text-white hover:bg-blue-900 transisition duration-300 ease-out flex items-center justify-center w-12 h-12 bg-white rounded-full">
                    <i class='bx bxl-linkedin-square text-3xl' ></i>
                </a>
            </div>
        </div>   
    </div>
</section>

    <!-- About Me -->
    <section class="container" id="about">
        <div class="bg-black grid grid-cols-1 md:grid-cols-2 items-center gap-8">
            <img src="/images/pokja team 3 (4).JPG" alt=" " class="rounded-lg">
            <div>
                <h3 class="text-white font-bold text-bule-900 text-2xl">About Me</h3>
                <h4 class="text-white font-bold text-3xl mt-2">I'm Ananda Adi</h4>
                <p class="text-white text-lg mt-8 text-justify mr-8">
                    Hello! I'm Ananda Adi, and I embarked on my journey into the world of Information Technology in 2022, armed with determination and a hunger for knowledge. While some may have started with a strong foundation in IT, I took my first steps with no prior experience, and it has been an exhilarating ride ever since. Alumni from SD Imanuel, SMP 2 Kuta Utara and SMA 1 Kuta Utara 
                    <br><br>My decision to dive into IT was driven by a passion for problem-solving, technology's ever-evolving nature, and the endless possibilities it offers. I saw it as an opportunity to challenge myself and explore a field that fascinated me but remained uncharted territory. Starting from scratch meant facing a steep learning curve, but I embraced it as an exciting challenge rather than an obstacle.
                    <br><br>As a musician, I've always been captivated by the power of melodies, rhythms, and harmonies to convey emotions and tell stories. My music allowed me to connect with people on a deeply personal level. It was during my musical endeavors that I stumbled upon the fascinating world of technology. I became intrigued by how technology could enhance the creative process and enable me to share my music with a wider audience.
                    <br><br>In parallel with my musical pursuits, I dabbled in novel writing. The written word offered me a different canvas for storytelling, one where I could craft intricate narratives and explore the depths of imagination. Little did I know that my transition into IT would also expand my horizons as a writer, offering me new tools and platforms to express my creativity.
                </p>
            </div>
        </div>
    </section>

    <!-- What I Do -->
    <section class="container" id="skills">
    <div class="bg-black p-4">
        <h2 class="text-white text-2xl font-bold">What I Do</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-24 mt-4 mb-10">
            <div class="bg-white p-4 rounded-lg shadow-lg">
                <h3 class="text-xl font-semibold">Copywriter</h3>
                <p class="mt-3">I'm an amateur copywriter, and my goal is to help you create words that make people interested in what you have to say. Whether it's making your products sound exciting, writing blog posts that explain things clearly, or coming up with catchy social media posts, I'm here to make your message sound great.</p>
            </div>
            <div class="bg-white p-4 rounded-lg shadow-lg">
                <h3 class="text-xl font-semibold">UI/UX Designer</h3>
                <p class="mt-3">I'm an amateur UI/UX designer, and my focus is making things on the internet look and feel better. UI, or User Interface, is like the clothes your website or app wears - it should be attractive and easy to navigate. UX, or User Experience, is about making sure people enjoy using your website or app. I'm learning how to create designs that are user-friendly and visually appealing, so your online spaces become more inviting and enjoyable for everyone who visits.</p>
            </div>
            <div class="bg-white p-4 rounded-lg shadow-lg">
                <h3 class="text-xl font-semibold">Story Writer</h3>
                <p class="mt-3">As an amateur short story writer, I'm deeply passionate about the art of storytelling and the magic of crafting compelling narratives. While I may not have a long list of published works under my belt, I pour my heart and imagination into every story I create. Writing is my way of exploring the vast landscapes of human emotions and the complexities of life, and I'm excited to share my evolving skills with readers. I believe that even as an amateur, I can evoke a sense of wonder, laughter, and introspection through my stories.</p>
            </div>
        </div>
    </section>

    <!-- Portfolio -->
    <section class="container" id="portofolio">
    <div class="bg-black p-4">
        <h2 class="text-white text-2xl font-bold">Portfolio</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-24 mt-4 mb-10">
            <!-- Portfolio Item 1 -->
            <div class="flex flex-wrap bg-white p-4 rounded-lg shadow-lg">
                <img src="/images/t3b.png" alt="Portfolio Item 1" class="w-20 rounded-lg">
                <h3 class="ml-5 text-center font-semibold text-4xl">T3.B</h3>
                <p class="mt-5 text-justify">Just when it seems like their friendship might crumble under the weight of their differences, a new character emerges on the scene, shaking the very foundation of their relationship. This newcomer, shrouded in mystery and intrigue, weaves their way into the lives of these two women, leaving an indelible mark and stirring up a whirlwind of emotions.

                    As the story unfolds, readers will be drawn into the emotional rollercoaster of these characters' lives, as they navigate love, rivalry, and personal growth.</p>
            </div>
            <!-- Portfolio Item 2 -->
            <div class="flex flex-wrap bg-white p-4 rounded-lg shadow-lg">
                <img src="/images/1.png" alt="Portfolio Item 2" class="w-20 rounded-lg">
                <h3 class="ml-5 text-center font-semibold text-4xl">ChaosDay</h3>
                <p class="mt-5 text-justify">Welcome to our space! We're here to lend an empathetic ear and a virtual shoulder to lean on. At 365 Project, we understand that life can be frustrating and overwhelming at times. This is a safe place where you can freely share the things that weigh on your mind, let out your thoughts, and find support from a caring community. Whether it's a minor annoyance or a major concern, we're here to listen and help you unburden your mind. Together, we can navigate life's challenges and find relief in the act of sharing.</p></p>
            </div>
            <!-- Portfolio Item 3 -->
            <div class="flex flex-wrap bg-white p-4 rounded-lg shadow-lg">
                <img src="/images/edu4u.png" alt="Portfolio Item 3" class="w-20 rounded-lg">
                <h3 class="ml-5 text-center font-semibold text-4xl">Edu4U</h3>
                <p class="mt-5 text-justify">Introducing our eBook web App, your one-stop destination for a vast library of formal and non-formal literature. Whether you're seeking academic resources, professional references, or simply looking for an engaging read, our app has you covered. With a user-friendly interface, our app offers an extensive collection of eBooks, encompassing everything from textbooks, research papers, and business guides to fiction, self-help, and more. Easily browse, search, and download eBooks to read on your device, no matter where you are.</p>
            </div>
        </div>
    </section>

 <!---graduated-->
    <section class="container" id="Organizational">
        <div class="bg-black p-4">
            <h2 class="text-white text-2xl font-bold">Organizational Experience</h2>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-3 mt-4 mb-10">
                <div class="bg-white p-4 rounded-lg shadow-lg hover:bg-blue-600 hover:text-white transisition duration-300 ease-out">
                    <h3 class="text-xl font-semibold">2023</h3>
                    <p class="mt-3">Secretary of the FTK National Game Development Competition</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-lg hover:bg-indigo-600 hover:text-white transisition duration-300 ease-out">
                    <h3 class="text-xl font-semibold">2023</h3>
                    <p class="mt-3">Vice President of Gemastik FTK</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-lg hover:bg-indigo-500 hover:text-white transisition duration-300 ease-out">
                    <h3 class="text-xl font-semibold">2022-current</h3>
                    <p class="mt-3">Member of 3rd Division POKJA FTK</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-lg hover:bg-blue-500 hover:text-white transisition duration-300 ease-out">
                    <h3 class="text-xl font-semibold">2022</h3>
                    <p class="mt-3">Member of Gemastik UI/UX competition</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-lg hover:bg-blue-600 hover:text-white transisition duration-300 ease-out">
                    <h3 class="text-xl font-semibold">2021</h3>
                    <p class="mt-3">Treasurer of the online tandoku competition at SMA 1 Kuta Utara</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-lg hover:bg-indigo-600 hover:text-white transisition duration-300 ease-out">
                    <h3 class="text-xl font-semibold">2020</h3>
                    <p class="mt-3">Activism Kul Kul Connection</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-lg hover:bg-indigo-500 hover:text-white transisition duration-300 ease-out">
                    <h3 class="text-xl font-semibold">2019</h3>
                    <p class="mt-3">Speaker for the online KKC Gathering about SDG no. 5</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-lg hover:bg-blue-500 hover:text-white transisition duration-300 ease-out">
                    <h3 class="text-xl font-semibold">2019</h3>
                    <p class="mt-3">Member of the petition team for the KKC Climate Festival</p>
            </div>
        </section>
<!---off-->
<!--app vue-->
<section>
  <div class="bg-black container" id="app">
    <div class="w-full px-4">
      <div class="max-w-xl mx-auto text-center mb-16">
        <h4 class=" text-white font-semibold text-lg text-primary mb-2">Alzzaera's note</h4>
        <h2 class=" text-white font-bold text-dark text-3xl mb-4 sm:text-4xl lg:text-5xl">Put Your Task Here</h2>
        <p class="text-white font-bold text-lg mt-4">you can put anything here, from the name to the deadline</p>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full self-center px-4 lg:w-1/2">
        <div class="w-full lg:w-2/3 lg:mx-auto">
          <div class="w-full px-4 mb-8">
            <form @submit.prevent="addNewP">
              <table border="1">
                <tr>
                  <td class=" text-white text-base text-primary font-bold">Task Name:</td>
                  <td>
                    <input v-model="inputP.name" type="text" class="w-full bg-slate-200 text-dark p-3 rounded-md focus:outline-none focus:ring-primary focus:ring-1 focus:border-primary ml-5 mt-3" />
                  </td>
                </tr>
                <tr>
                  <td class="text-white text-base text-primary font-bold">Number of the Task: </td>
                  <td>
                    <input v-model="inputP.quan" type="number" class="w-full bg-slate-200 text-dark p-3 rounded-md focus:outline-none focus:ring-primary focus:ring-1 focus:border-primary ml-5 mt-3" />
                  </td>
                </tr>
                <tr>
                  <td class="text-white text-base text-primary font-bold">Lecture: </td>
                  <td>
                    <input v-model="inputP.lec" type="text" class="w-full bg-slate-200 text-dark p-3 rounded-md focus:outline-none focus:ring-primary focus:ring-1 focus:border-primary ml-5 mt-3" />
                  </td>
                </tr>
                <tr>
                  <td class="text-white text-base text-primary font-bold">Deadline:</td>
                  <td>
                    <input v-model="inputP.type" type="text" class="w-full bg-slate-200 text-dark p-3 rounded-md focus:outline-none focus:ring-primary focus:ring-1 focus:border-primary ml-5 mt-3" />
                  </td>
                </tr>
              </table>
              <div class="w-full px-4">
                <button class="mt-5 text-base font-semibold text-white bg-blue-800 py-3 px-8 rounded-full w hover:bg-blue-500 hover:shadow-lg transition duration-300">Input</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="w-full px-4 lg:w-1/2">
        <table class="w-full">
          <thead class="w-full text-md font-semibold tracking-wide text-center text-white bg-blue-800 uppercase border-b border-blue-950">
            <th>Task Name</th>
            <th>Number of the task</th>
            <th>Lecture</th>
            <th>Deadline</th>
          </thead>
          <tbody class=" text-white text-center">
            <tr v-for="(item, index) in products" :key="index">
              <td>{{ item.name }}</td>
              <td>{{ item.quan }}</td>
              <td>{{ item.lec }}</td>
              <td>{{ item.type }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
  <!-- Contact Me -->
  <section class="bg-gray-800" id="contact">
    <div class="max-w-3xl mx-auto bg-slate-800/80 rounded-xl">
        <div class="text-center py-16">
        <h3 class="text-2xl md:text-3xl font-bold text-white">Wanna be friend?</h3>
        <a href="#header" class="text-white hover:border-b hover:border-white hover:pb-2 transition-all opacity-60 duration-300 ">Hit the contact icon</a>
        <div class="flex items-center space-x-4 mt-4">
    </div>
</div>
</section>
    <!-- START : FOOTER -->
    <footer class="bg-gray-700">
        <div class="container py-1">
            <p class="text-sm font-light text-white text-center mt-2">Copyright 2023 AnandaAdi.</p>
        </div>
    </footer>
    <!-- END : FOOTER -->

<!-- Include Vue.js from a CDN -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script>
  const app = new Vue({
    el: '#app',
    data() {
      return {
        inputP: {
          name: "",
          quan: "",
          lec: "",
          type: "",
        },
        products: [],
      };
    },
    methods: {
      addNewP() {
        this.products.push({
          name: this.inputP.name,
          quan: this.inputP.quan,
          lec: this.inputP.lec,
          type: this.inputP.type,
        });
        // Clear input fields
        this.inputP.name = "";
        this.inputP.quan = "";
        this.inputP.lec = "";
        this.inputP.type = "";
      },
    },
  });
</script>
</body>
</html>
